body{
    background-color: black;
    margin: 0;
}

header{
    height: 10%;
    width: 100%;
    padding-top: 0;
    display: flex; 
}
main{
    height: 90vh;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

img{
    height: 70px;
    width: 200px;
    padding-left: 0px;
}

.menu{
    list-style: none;
    display: flex;
    margin-left: 58%;
    
}

.menu li{
    color: white;
    padding-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
a{
    text-decoration: none;
}
.menu li:hover{
    color: red;
    transform: scale(1.2);
}

.contenedor-carrusel{
    height: 90vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

.carrusel{
    height: 90vh;
    width: 100%;
    display: flex;
    padding: 0;
    list-style: none;
    animation: movimiento 13s infinite;  
}
.deslizar{
    position: relative;
    min-width: 100%;
    text-align: center;
}
.deslizar img{
    height: 90vh;
    width: 100%;
    display: block;
}
.texto {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 20%;
    right: 20%;
    left: 25%;
    padding-top: 50px;
    background: transparent;
    color: white;
    font-family: "Oswald";
    font-size: 30px;
    
}
@keyframes movimiento {
    0%{ transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100%{ transform: translateX(0); }
}

@media (max-width: 600px) {
    body {
        background-color: black;
    }

    header {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: auto;
    }
    main{
        height: auto;
    }

    .menu {
        display: flex; 
        margin-left: 0;
        padding-left: 8px;
        margin: auto;
        align-items: center;
    }

    .menu li {
        font-size: 18px;
        padding: 5px;
    }

    .contenedor-carrusel {
        height: 50vh;
        width: auto;
    }

    .carrusel {
        height: 50vh;
        width: auto;
    }

    .deslizar img {
        height: 50vh;
        width: auto;
        position: relative;
    }

    .texto {
        position: absolute;
        width: auto;      
        font-size: 15px;
        text-align: center;
        left: 15vw;
        top: 0;
        bottom: 25vh;
    }
}


  


